*, *:before, *:after { box-sizing: inherit; }

html {
box-sizing: border-box;
background: #C6FFDD;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
font-size: 20px;
font-weight: 400;
}

body { margin: 0; }
    
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  color:#000;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size .7s cubic-bezier(.61, -.19, .7, -0.11),
              flex .7s cubic-bezier(.61, -.19, .7, -.11),
              background .2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1; /* each panel evenly distributes the extra space among each other */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background: #e5eec1; }
.panel2 { background: #a2d4ab; }
.panel3 { background: #3eaca8; }
.panel4 { background: #547a82; }
.panel5 { background: #5a5050; }

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform .5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  font-size: 1em;
  opacity: .35;
}
.panel p:nth-child(2) { font-size: 2.5em; }

.panel.open { 
  flex: 5; /* it's gonna take 5 times the amount of extra room */
  font-size: 40px; 
}